<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Pergunta 1</ng-template>
    <ng-template matStepContent>
      <h1>Você tem disponibilidade para realizar um curso de longa duração?
      </h1>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Sim
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Não
        </label>
      </div>
      <button mat-button matStepperNext>Próxima</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 2</ng-template>
    <ng-template matStepContent>
      <h1>Você busca aprender a desenvolver planilhas, gráficos, fazer análise de dados, entre outros?

      </h1>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Sim
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Não
        </label>
      </div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Próxima</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 3</ng-template>
    <h1>Você busca aprender a navegar na Internet, a usar o sistema operacional Windows e o pacote Office?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Pergunta 4</ng-template>
    <h1>Você busca criar e publicar relatórios dinâmicos e dashboards (painéis de indicadores), usando o Power BI?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 5</ng-template>
    <h1>Você busca elaborar projetos e acessar bancos de dados por meio de linguagens de programação?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 6</ng-template>
    <h1>Você busca elaborar projetos e acessar bancos de dados por meio de linguagens de programação?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 7</ng-template>
    <h1>Profissionalmente, você considera raciocínio e lógica importante?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 8</ng-template>
    <h1>Você imagina se destacar profissionalmente criando relatórios amigáveis e fáceis de interpretar?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 9</ng-template>
    <h1>Você imagina se destacar profissionalmente desenvolvendo algoritmos estruturados em lógica de programação?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pergunta 10</ng-template>
    <h1>Você imagina se destacar profissionalmente desenvolvendo sites, sistemas e aplicações?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 11</ng-template>
    <h1>Você imagina se destacar profissionalmente desenvolvendo sites, sistemas e aplicações?

    </h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Sim
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
</mat-stepper>