<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-md-6">
            <img src="../../../assets/image/undraw_voting_nvu7.svg">
            
        </div>
        <div class="col-md-6">
            <h1>O que é um teste vocacional?</h1>
            <h3>Teste vocacional é uma ferramenta que pode ajudar muitas pessoas a descobrir suas aptidões e interesses profissionais. Geralmente, é feito por estudantes que estão prestes a ingressar em uma universidade ou que estão indecisos sobre qual carreira seguir.</h3>
        </div>
        <div>
            <button routerLink="/iniciarteste" type="button" class="btn btn-outline-warning">INICIAR TESTE</button>
        </div>
        
    </div>
</div>


  