<div class="container text-center espacamento" >
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://painel.es.senac.br/admin/data/dynamic/cursos/68/349e82dbf9aa7bcf9a3cb0ec05eda258_lg_original_.jpg"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Business Intelligence com Power BI</h5>
              <p class="card-text">No curso Business Intelligence com Power BI você vai aprender a criar e publicar relatórios. </p>
              <a href="https://www.es.senac.br/cursos/informatica/business-intelligence-com-power-bi-68" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://painel.es.senac.br/admin/data/dynamic/cursos/75/b779e1e842ccc7e50108b96fa266fbfd_lg_original_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Excel Avançado</h5>
              <p class="card-text">Aprender a desenvolver planilhas, gráficos, fazer análise de dados, entre outros.</p>
              <a href="https://www.es.senac.br/cursos/informatica/excel_avancado-75" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://painel.es.senac.br/admin/data/dynamic/cursos/225/adef91be5528ecf5d4431fe1a3a38121_lg_original_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Programador de Sistemas</h5>
              <p class="card-text">Aprender a desenvolver, especificar, testar e implantar sistema de informação e soluções de programação, contemplando requisitos de segurança, especificações e documentação de banco de dados.</p>
              <a href="https://www.es.senac.br/cursos/informatica/programador-de-sistemas-225" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  

