<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">

                    <button type="button" class="btn btn-outline-warning">HOME</button>

                </li>

                <li class="nav-item">

                    <button type="button" class="btn btn-outline-warning">CURSO</button>

                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-outline-warning">ESTOU COM SORTE</button>
                </li>

            </ul>
            <img src="../../../assets/image/Logotipo.png">
        </div>

    </div>
</nav>